################################################################
## General Settings
################################################################
homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  elevation: !secret home_elevation
  country: DE
  language: de
  time_zone: Europe/Berlin
  unit_system: metric
  currency: EUR
  # URL's to HA instance
  external_url: !secret external_url
  internal_url: !secret internal_url
  # Authentication providers: no authentication in local network required
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 127.0.0.1
        - !secret home_subnet
        - ::1
        - ::ffff:127.0.0.1
        - fd00::/8
      allow_bypass_login: true
  # general customization file
  # customize: !include includes/customize.yaml
  # load packages from directory
  packages: !include_dir_named packages

# display panels in frontend to configure and manage parts of Home Assistant
config:
energy:
# 'System Health' integration data can be viewed in Developer Tools on the 'Info' tab
system_health:
# My Home Assistant Service allows redirect to own HA-instance from external documentation.
my:
# Sprachsteuerung: https://www.home-assistant.io/integrations/conversation/
# conversation:
# assist_pipeline:

# activate SSL
# Source: https://community.home-assistant.io/t/ssl-and-home-assistant-running-on-a-synology-docker/32102
http:
  ssl_certificate: !secret ssl_certificate_path
  ssl_key: !secret ssl_private_key
  #ip_ban_enabled: true
  #login_attempts_threshold: 3

################################################################
## Includes (mostly moved to packages)
################################################################
automation: !include automations.yaml #used for blueprints
#zone: !include includes/zones.yaml

################################################################
## Radio-Devices
################################################################
# Zigbee-Coordinator (NORTEK HUSBZB-1)
zha:
  #usb_path: /zigbeestick #naming of USB device does not work anymore since v0.99
  #usb_path: /dev/ttyUSB1 #deprecated in v0.110
  database_path: /data/zigbee.db

################################################################
## Platforms & Components
################################################################
# MQTT-Broker. Mosquitto-Docker MUSS vor HA gestartet werden. 
# wird benötigt für Battery Status Automation (siehe Package 'battery_alert')
# und BT-Monitor (Package 'presence_detection') und plantgateway und Raspi-Sensoren
# mqtt:
#  broker: !secret DS_IP
#  password: !secret mqtt_broker_password
#  discovery: true
#  discovery_prefix: homeassistant

# Support for iOS app
mobile_app:
#discovery:
#ios: #nur noch notwendig für actionable notificatios
# iOS notification
#notify:
#  - platform: ios
#    name: ios_app
  #  target: !secret ios_token

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say
    cache: true
    cache_dir: /tts
    time_memory: 300
    #base_url: http://192.168.__.__:8123

################################################################
## Device-Tracking Platforms
################################################################
# Discover some devices automatically
# deaktiviert für v0.110
#discovery:
#  ignore:
#    - igd #=Internet Gateway Device: to prevent discovery notification of upnp/igd values of FitzBox

#    - samsung_tv
#  enable:
#    - dlna_dmr

#deprecated in v0.109
#unifi:
#  controllers:
#    - host: !secret unifi_host
#      site: home
#      ssid_filter:
#        - !secret unifi_ssid_private
#      dont_track_wired_clients: true

# deactivated, because monitor script is used to update BT-presence via MQTT
#device_tracker:
#  - platform: bluetooth_tracker
#    track_new_devices: no
#    interval_seconds: 5
#    consider_home: 12
#    new_device_defaults:
#      track_new_devices: false
#      hide_if_away: false


################################################################
## Frontend
################################################################
lovelace:
  mode: yaml
  resources: !include ./lovelace/resources.yaml
frontend:
  themes: !include_dir_merge_named themes

  # lovelace resources for performance improvement
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js #starting from card-mod v3.1


################################################################
## Custom Components (in /config/custom_components/)
################################################################
python_script:


################################################################
## Test / Development
################################################################
input_select:
  debug_mode:
    name: Debug Mode
    options:
      - none
      - all
      - home
      - vacuum
      - climate
      #- presence detection
      #- doors
    initial: none

calendar:
  - platform: caldav
    username: !secret caldav_user
    password: !secret caldav_pwd
    url: !secret caldav_url
    calendars:
    - Home
    - Ingrid
    - Privat Max


################################################################
## Recording, Logging, Lockbook
# https://community.home-assistant.io/t/large-homeassistant-database-files/4201/240
################################################################
recorder:  #Entities, that are recorded in 'home-assistant_v2.db'. Nessesary to be displayed in logbook and/or history
  purge_keep_days: 10 #37 #--> 37=1/10 of a year
  db_url: !secret HistoryDB_connection  # --> 'home-assistant_v2.db' now in MariaDB. Much faster.
  db_retry_wait: 120
  exclude:
    domains:
      - weblink
      - input_select
      - camera
      - calendar
      - plant
    entities:
      - binary_sensor.workday_sensor
    # systemmonitor (HA host system)
      - sensor.last_boot 
      - sensor.processor_use
      - sensor.memory_free
      - sensor.network_in_eth0
      - sensor.network_out_eth0
    # router: Fritzbox
      - sensor.fritzbox
      - sensor.fritz_last_boot
    # Fritz!SmartHome
      - sensor.fritz_dect_200_gz_electric_current
      - sensor.fritz_dect_200_gz_voltage
      - sensor.fritz_dect_200_netz_electric_current
      - sensor.fritz_dect_200_netz_voltage
      - sensor.fritz_dect_210_solar_spannung
      - sensor.fritz_dect_210_solar_stromstarke
      - sensor.fritz_dect_210_solar_leistung
    # network devices
#      - binary_sensor.router
      - binary_sensor.roborock
      #- binary_sensor.smarttv
      - binary_sensor.radiobad
      #- binary_sensor.rpi_west
      #- binary_sensor.rpi_ost
      - sensor.raspi1_clock_speed
      - sensor.raspi2_clock_speed
      - sensor.raspi1_memory_use
      - sensor.raspi2_memory_use
      - sensor.raspi1_disk_use
      - sensor.raspi2_disk_use
      - sensor.raspi1_last_message
      - sensor.raspi2_last_message
      - sensor.raspi1_last_boot
      - sensor.raspi2_last_boot
      - sensor.raspi1_updates
      - sensor.raspi2_updates
      - sensor.raspi1_load_1m
      - sensor.raspi1_load_5m
      - sensor.raspi1_load_15m
      - sensor.raspi1_network_upload
      - sensor.raspi1_network_download
      - sensor.raspi1_swap_usage
      - sensor.raspi2_load_1m
      - sensor.raspi2_load_5m
      - sensor.raspi2_load_15m
      - sensor.raspi2_network_upload
      - sensor.raspi2_network_download
      - sensor.raspi2_swap_usage
      - sensor.raspi3_memory_use
      - sensor.raspi3_disk_use
      - sensor.raspi3_last_message
      - sensor.raspi3_last_boot
      - sensor.raspi3_updates
      - sensor.raspi3_load_1m
      - sensor.raspi3_load_5m
      - sensor.raspi3_load_15m
      - sensor.raspi3_network_upload
      - sensor.raspi3_network_download
      - sensor.raspi3_swap_usage
    # Tasmota
      - sensor.tasmota_mqtt_connect_count
      - sensor.tasmota_wifi_connect_count
      - sensor.tasmotawe5_signal
      - sensor.tasmotawe5_we5_total_in_cost
    # Power & Solar
      - sensor.bkw_sued_efficiency
      - sensor.bkw_sued_powerfactor
      - sensor.bkw_sued_reactivepower
      - sensor.bkw_sued_voltage
      - sensor.bkw_sued_current
      - sensor.bkw_sued_frequency #?
      - sensor.bkw_sued_rx_success
      - sensor.bkw_sued_rx_fail_receive_corrupt
      - sensor.bkw_sued_rx_fail_receive_nothing
      - sensor.bkw_sued_rx_fail_receive_partial
      - sensor.bkw_sued_tx_requests
      - sensor.bkw_sued_tx_re_request_fragment
      - sensor.bkw_sued_powerdc
      - sensor.opendtu_uptime
      - sensor.bkw_sued_temperature
      - sensor.daily_solar_consumption_rate
    # Media Player
      - media_player.r_n803d_86ae28
      - binary_sensor.netreceiver_online
    # Home Assistant
      - sensor.latest_version
      - sensor.cert_expiry_timestamp_hera
    # diverse
      - script.flash_light
      - sensor.avg_hmipw_temperature
      - sensor.avg_hmipw_temperature
      - sensor.avg_device_temperature
      - sensor.avg_door_temperature
      #- sensor.weathersensor01_druck
      - automation.update_requested_temp
      - sensor.geocoded_location
      - automation.personstatus_last_changed_date_and_time
      - automation.start_bt_arrival_scan
      - automation.start_bt_departure_scan
    # HomeMatic
      # - binary_sensor.000c9a499b5808_low_bat # Thermostat WZ
      # - binary_sensor.000a1a49a107b5_low_bat # Thermostat GZ
      # - binary_sensor.000a1a49a10ba3_low_bat # Thermostat KU
      # - sensor.hm_thermo_ku_valve_status
      # - sensor.hm_thermo_gz_valve_status
      - sensor.hmipw_drap_strom_ch1
      - sensor.hmipw_drap_strom_ch2
      - sensor.hmipw_drap_spannung_ch1
      - sensor.hmipw_drap_spannung_ch2
      - sensor.rpi_rf_mod_001f58a9a7204d_carrier_sense_level
      - sensor.rpi_rf_mod_001f58a9a7204d_duty_cycle_level
    # iOS
      - sensor.last_update_trigger
      - sensor.bssid
      - sensor.connection_type
    # DWD
      - sensor.precipitation_probability_ak_stuttgart_2
      - sensor.sun_duration_ak_stuttgart_2
      - sensor.precipitation_ak_stuttgart_2
      - sensor.temperature_ak_stuttgart_2
    # OpenWeatherMap
      - sensor.home_hourly_dew_point
      - sensor.home_hourly_feels_like_temperature
      - sensor.home_hourly_pressure
      - sensor.home_hourly_uv_index
    # ADguard
      - sensor.adguard_average_processing_speed
      - sensor.adguard_dns_queries
      - sensor.adguard_dns_queries_blocked      
      - sensor.adguard_dns_queries_blocked_ratio
      - sensor.adguard_parental_control_blocked
      - sensor.adguard_rules_count
      - sensor.adguard_safe_browsing_blocked
      - sensor.adguard_safe_searches_enforced

logbook: #recorded Entities, that will be displayed in Logbook
  exclude: #!include includes/exclude.yaml
    domains:
    #  - automation
    #  - script
      - weblink
      - updater
      - systemmonitor
    #  - device_tracker  #some are included again
    entities:
      - sensor.random
      - sensor.date
      - binary_sensor.hera
      - sensor.vacuum_operation
      - sensor.vacuum_accessories
      - sensor.geocoded_location
      - sensor.hm_thermo_wz_actor_state
      - automation.update_requested_temp
      - automation.battery_sensor_from_attributes
      - automation.battery_persistent_notification
      - automation.personstatus_last_changed_date_and_time

history: #recorded Entities, that will be displayed in History
#  include: !include includes/include.yaml
#  exclude: !include includes/exclude.yaml

logger: 
  default: warn #critical,fatal,error,warning,warn,info,debug,notset
  logs:
    fritzconnection: info
#    custom_components.samsungtv_custom.media_player: debug
#    homeassistant.components.python_script: debug  #für debug von light_store.py etc.

#    asyncio: debug
#    homeassistant.components.zha: debug
#    zigpy: debug
#    zigpy_zigate: debug

#    homeassistant.components.vacuum.xiaomi_miio: debug
#    miio: debug